{% extends "admin/base.html" %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    ['name' => 'Меню', 'url' => url('admin_menu_list')],
    ] %}
    {% if parent %}
        {% for item in parent.objects().ancestors(true).order(['lft']).all() %}
            {% set breadcrumbs = breadcrumbs|merge([
            ['name' => item.name, 'url' => url('admin_menu_list', ['parent_id' => item.id])]
            ]) %}
        {% endfor %}
    {% endif %}
    {% set breadcrumbs = breadcrumbs|merge([
    ['name' => 'Добавление меню']
    ]) %}
    {% parent %}
{% endblock %}

{% block content %}
    <h1 class="b-heading">Добавление меню</h1>
    {{ form_render(form)|safe }}
{% endblock %}
