{% extends "admin/base.html" %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    ['name' => 'Меню', 'url' => url('admin_menu_list')]
    ] %}
    {% if parent %}
        {% for item in parent.objects().ancestors(true).order(['lft']).all() %}
            {% set breadcrumbs = breadcrumbs|merge([
            ['name' => item.name, 'url' => url('admin_menu_list', ['parent_id' => item.id])]
            ]) %}
        {% endfor %}
    {% endif %}
    {% parent %}
{% endblock %}

{% block content %}
    <h1 class="b-heading">Меню</h1>

    <a href="{{ url('admin_menu_create', ['parent_id' => parent ? parent.id : null]) }}" class="b-button">Добавить пункт меню</a>

    <table class="b-table" data-sorting>
        <thead class="b-table__thead">
        <tr class="b-table__tr">
            <th class="b-table__th"></th>
            <th class="b-table__th">Название</th>
            <th class="b-table__th">Ссылка</th>
            <th class="b-table__th">Идентификатор</th>
            <th class="b-table__th"></th>
        </tr>
        </thead>
        <tbody class="b-table__tbody">
        {% for item in menu %}
            <tr class="b-table__tr" data-id="{{ item.id }}">
                <td class="b-table__td b-table__td_sort">
                    <span class="sorting--container">
                        <span class="b-icon">&#xE3C7;</span>
                    </span>
                </td>
                {% include "admin/menu/menu/_menu_row.html" with ['item' => item] %}
                <td class="b-table__td b-td__actions">
                    <a class="b-td__link"
                       href="{{ url('admin_menu_update', ['id' => item.id]) }}" title="Изменить">
                        <span class="b-icon">&#xE254;</span>
                    </a>
                    <a class="b-td__link"
                       data-confirm="Вы действительно хотите удалить запись?"
                       href="{{ url('admin_menu_remove', ['id' => item.id]) }}" title="Удалить">
                        <span class="b-icon">&#xE872;</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagination_render(pager)|safe }}
{% endblock %}
